body {
  width: 100%;
  margin: 0 auto;
  color: grey;
}

a {
  text-decoration: none;
  color: grey;
}

.container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.1);
}

h2 {
  padding-top: 10px;
}

.amounts a {
  background-color: #BAD6EC;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.amounts a:active {
  color: #DDDDDD;
}

form {
  margin-top: 30px;
}

.firstname,
.lastname,
.email {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right:5px;
  width: 25%;
  border-width: 1px;
}

.email {
  width: 50%;
}

.annonymous {
  margin: 10px;
}

.newsletter {
  margin: 10px;
  margin-bottom: 20px;
}

.commentBox {
  margin: 20px;
  width: 50%;
}

.submitButton {
  background-color: #BAD6EC;
  padding: 6px;
  border-radius: 10px;
  border: 0px; 
  margin-bottom: 10px;
}

.top {
  background-color: rgba(100, 100, 100, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;

}

.bottom {
  background-color: #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home, .about, .donate {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.home a:hover, 
.about a:hover,
.donate a:hover {
  color: #fff;
}

.social {
  text-align: center;
}

.social a i {
  width: 5%;
  background-color: #BAD6EC;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
}

.social a i:hover {
  background-color: #fff;
}

